{% extends "_base.html" %}
{% block content %}
  <h2>Mark Visited Location</h2>
  <form action="/visited" method="post">
    <label>Location <input type="text" name="location" required></label><br>
    <label>Latitude <input type="number" step="any" name="lat" required></label><br>
    <label>Longitude <input type="number" step="any" name="lon" required></label><br>
    <label>Date <input type="date" name="visited_on"></label><br>
    <button type="submit">Add Visited</button>
  </form>
{% endblock %}
